/* CSS Document */
/*-------General Starts-------*/
body {
	margin:0px;
	padding:0px;
	font:normal 11px/14px Arial, Helvetica, sans-serif;
	background-color:#000;
	color:#818475;
}
td, ul, li, p, h2, h5, form, input, select, label{
	padding:0;
	margin:0;
}
img{
	padding:0;
	margin:0;
	border:none;
	line-height:0px;
	font-size:0px;
}
ul{
	list-style-type:none;
	padding:0;
	margin:0;
	}
.spacer{ 
	line-height:0; 
	font-size:0; 
	clear:both;
}
h2{
	font:bold 20px/24px "Tahoma", Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
}
h5{
	font:bold 11px/14px Arial, Helvetica, sans-serif;
	color:#816A1A;
	background-color:inherit;
}
p{
	font:normal 11px/14px Arial, Helvetica, sans-serif;
	color:#818475;
	background-color:inherit;
}

/*-------General Ends-------*/
/*-----------------------MAIN-BG STARTS-----------------------------*/
.main_bg{
	background:url(images/main_bg.jpg) no-repeat 0 0 #1A1A1A;
	line-height:0px;
	font-size:0px;
	padding-top:74px;
}
.body_bg{
	background:url(images/body_bg.jpg) repeat-x 0 0 #1A1A1A;
	line-height:0px;
	font-size:0px;
	padding:21px 0 43px;
}
.logo_bg{
	padding-bottom:5px;
}
/*-----------------------MAIN-BG ENDS-----------------------------*/
/*-----------------------NAVIGATION STARTS-----------------------------*/
.nav_bg{
	background:url(images/nav_bg.gif) repeat-x 0 0;
	line-height:0px;
	font-size:0px;
}
.nav_bg ul{
	padding:4px 0 20px 44px;
	font:normal 10px/12px Arial, Helvetica, sans-serif;
	color:#D3CF72;
	text-transform:uppercase;
	float:left;
	width:auto;
}
.nav_bg ul li.active{
	color:#FFF8A6;
	background-color:#C43209;
	padding:9px 12px;
	border:3px solid #FF0000;
}
.nav_bg ul li{
	float:left;
	margin:0 1px;	
	background-color:inherit;
}
.nav_bg ul li a{
	text-decoration:none;
	color:#FFFAAF;
	background-color:inherit;
	padding:12px 18px;
	display:block;
}
 .nav_bg ul li a:hover{
	color:#FFF8A6;
	background-color:#C43209;
	padding:9px 15px;
	border:3px solid #FF0000;
	display:block;
}
/*-----------------------NAVIGATION ENDS-----------------------------*/
/*-----------------------HEADER STARTS------------------------------*/
.header_bg{
	background-color:#FAEDD9;
	color:#615F22;
	width:784px;
	padding:16px 0 22px;
}
.header_bg h2{
	color:#000;
	background-color:inherit;
	padding:5px 0 7px;
}
.header_bg h2 span{
	color:#2A5C0B;
	font:normal 16px/23px "Tahoma", Arial, Helvetica, sans-serif;
	background-color:inherit;
	display:block;
}
.header_bg p{
	color:#000;
	background-color:inherit;
	width:435px;
}
.header_bg ul{
	padding-top:17px;
}
.header_bg ul li{
	background:url(images/bullet.gif) no-repeat 0 50%;
	padding-left:9px;
	line-height:0px;
	font-size:0px;
}
.header_bg ul li a{
	font:normal 10px/14px Arial, Helvetica, sans-serif;
	color:#EA2A15;
	background-color:inherit;
	text-decoration:none;
}
.header_bg ul li a:hover{
	text-decoration:underline;
}
/*-----------------------HEADER ENDS-----------------------------*/

/*-----------------------BODY STARTS------------------------------*/
.body_bttm{
	padding-top:5px;
}
/*---------BODY_RIGHT STARTS----------*/
.body_right{
	width:228px;
	background:url(images/body_right.jpg) repeat-x 0 0 #1D2D25;
	border:1px solid #1D2D25;
	padding:34px 0 25px;
}
.body_right h5{
	padding:22px 0 20px;
}
.body_right p.readmore{
	padding:5px 0 0;
}
.body_right p.readmore a{
	color:#B0390E;
	font-size:10px;
	background-color:inherit;
	text-decoration:none;
}
.body_right p.readmore a:hover{
	text-decoration:underline;
}
/*---------BODY_RIGHT ENDS----------*/
/*---------BODY_LEFT STARTS----------*/
.body_left{
	width:532px;
	padding-right:22px;
}
.body_left h2{
	padding:29px 0 34px;
}
.body_left a.img{
	display:block;
	border:10px solid #fff;
	text-decoration:none;
}
.body_left a.img:hover{
	border:10px solid #E4ED5C;
}
.body_left p{
	font:normal 11px/14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding-top:12px;
}
/*---------BODY_LEFT ENDS----------*/

/*-----------------------BODY ENDS------------------------------*/

/*-----------------------FOOTER STARTS------------------------------*/
.footer{
	background:url(images/footer_bg.gif) repeat-x 0 0;
	color:#818475;
	background-color:inherit;
	padding:24px 0 23px;
}
.footer p.link{
	font:normal 10px/12px "Tahoma", Arial, Helvetica, sans-serif;
	color:#FF0000;
	background-color:inherit;
	text-transform:uppercase;
	padding-bottom:23px;
}
.footer p.link a{
	font:normal 10px/12px "Tahoma", Arial, Helvetica, sans-serif;
	color:#FFFAAF;
	background-color:inherit;
	text-decoration:none;
}
.footer p.link span{
	padding:0 16px;
}
.footer p.link a:hover{
	color:#FF0000;
	background-color:inherit;
	text-decoration:none;
}
.footer p{
	font:normal 10px/14px Arial, Helvetica, sans-serif;
	color:#818475;
	background-color:inherit;
}
.footer p a{
	color:#E7ECA7;
	text-decoration:none;
	background-color:inherit;
}
.footer p a:hover{
	text-decoration:underline;
}
/*-----------------------FOOTER ENDS------------------------------*/