<!DOCTYPE html>
<html>
<head>
	<title>Node.js Getting Started on Heroku</title>
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/indexstyle.css" />
</head>

<body>

  <!-- <%- include ("../partials/nav.ejs") %> -->
  <table width="944" border="0" align="center" cellpadding="0" cellspacing="0">
  	<tr>
    <td align="left" valign="top" class="main_bg">
		<table width="784" border="0" align="center" cellpadding="0" cellspacing="0">
        <td align="left" valign="top" class="body_bg">
			<table width="784" border="0" cellspacing="0" cellpadding="0">
<!--  			<tr>
    		<td align="center" valign="top" class="logo_bg">
			<a href="index.html"><img src="images/logo.gif" width="232" height="62" alt="logo" title="logo" border="0" /></a>
			</td><link href="/YOUR_PATH/favicon.ico" rel="icon" type="image/x-icon" />Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus<input type="button" value="Back" onclick="history.back()" />
  			</tr>
  			<tr>-->
    		<td align="left" valign="top" class="nav_bg">
			<ul>
				<li class="active">About me</li>                                                
				<li><a href="#" title="about">Education</a></li>
				<li><a href="#" title="gallery">Research</a></li>
				<li><a href="#" title="support">Support</a></li>
				<li><a href="#" title="contact">Contact</a></li>
			</ul>
			</td>
  			</tr>
  			<tr>
    		<td align="left" valign="top" class="header_bg">
				<table width="734" border="0" align="center" cellpadding="0" cellspacing="0">
              	<tr>
                <td width="182" align="left" valign="top">
				<img src="/aboutme/yizhou_img.jpg" width="155" height="155" alt="hdr_img" title="hdr_img" border="0" />
				</td>
                <td align="left" valign="top">
				<h2>Duis nunc nisi ultrices sed consequat in
				<span>Ut et enim quis augue egestas ultrices. Vestibulum pellentesque eleifend mi</span>
				</h2>
				<p>Aliquam nec quam at eros convallis hendrerit. Cras imperdiet mi ut risus. Curabitur lorem. Nulla id nisi. In eget 
				ligula. Aenean pulvinar, odio quis lobortis semper</p>
				<ul>
					<li><a href="#">Pellentesque placerat. Proin sit amet risus id ipsum convallis facilisis. Etiam orci diam</a></li>
					<li><a href="#">Aliquam blandit, tristique eu, commodo vitae, lorem</a></li>
					<li><a href="#">Nullam porttitor, leo quis varius euismod, risus libero rhoncus nisl, sed porttitor nulla eros id felis.</a></li>
					<li><a href="#">Etiam egestas purus nec massa. Nulla velit. Morbi eleifend nunc et turpis.</a></li>
				</ul>
				</td>
              	</tr>
            	</table>
				</td>
  			</tr>
  			<tr>
    			<td align="left" valign="top" class="body_bttm">
				<table width="784" border="0" cellspacing="0" cellpadding="0">
              	<tr>
                <td width="532" align="left" valign="top" class="body_left">
					<table width="532" border="0" cellspacing="0" cellpadding="0">
                  	<tr>
                    <td align="left" valign="top">
					<h2>Web Design Gallery</h2>
					</td>
                  	</tr>
                  	<tr>
					<td align="left" valign="top">
					<table width="532" border="0" cellspacing="0" cellpadding="0">
					<tr>
					<td align="center" valign="top" >
					<a href="#" class="img"><img src="images/gal_01.jpg" width="98" height="105" alt="gal_01" title="gal_01" border="0" /></a>
					<p>Elementum</p>
					</td>
					<td width="20" align="left" valign="top">&nbsp;</td>
					<td align="center" valign="top" >
					<a href="#" class="img"><img src="images/gal_02.jpg" width="98" height="105" alt="gal_02" title="gal_02" border="0" /></a>
					<p>Jaculis vitae</p>
					</td>
					<td width="20" align="left" valign="top">&nbsp;</td>
					<td align="center" valign="top" >
					<a href="#" class="img"><img src="images/gal_03.jpg" width="98" height="105" alt="gal_03" title="gal_03" border="0" /></a>
					<p>Curabitur tellus</p>
					</td>
					<td width="20" align="left" valign="top">&nbsp;</td>
					<td align="center" valign="top" >
					<a href="#" class="img"><img src="images/gal_04.jpg" width="98" height="105" alt="gal_04" title="gal_04" border="0" /></a>
					<p>Vestibulum dui</p>
					</td>
					</tr>
					</table>
					</td>
                  	</tr>
                  	<tr>
                    <td align="left" valign="top">
					<h2>Logo Design Gallery</h2>
					</td>
                  	</tr>
                  	<tr>
					<td align="left" valign="top">
					<table width="532" border="0" cellspacing="0" cellpadding="0">
					<tr>
					<td align="center" valign="top" >
					<a href="#" class="img"><img src="images/gal_05.jpg" width="98" height="105" alt="gal_05" title="gal_05" border="0" /></a>
					<p>Fusce nisi augue</p>
					</td>
					<td width="20" align="left" valign="top">&nbsp;</td>
					<td align="center" valign="top" >
					<a href="#" class="img"><img src="images/gal_06.jpg" width="98" height="105" alt="gal_06" title="gal_06" border="0" /></a>
					<p>Egestas</p>
					</td>
					<td width="20" align="left" valign="top">&nbsp;</td>
					<td align="center" valign="top" >
					<a href="#" class="img"><img src="images/gal_07.jpg" width="98" height="105" alt="gal_07" title="gal_07" border="0" /></a>
					<p>Placerat eu</p>
					</td>
					<td width="20" align="left" valign="top">&nbsp;</td>
					<td align="center" valign="top" >
					<a href="#" class="img"><img src="images/gal_08.jpg" width="98" height="105" alt="gal_08" title="gal_08" border="0" /></a>
					<p>Sollicitudin eu</p>
					</td>
					</tr>
					</table>
					</td>
                  	</tr>
                	</table>
				</td>
                <td align="left" valign="top" class="body_right">
					<table width="198" border="0" align="center" cellpadding="0" cellspacing="0">
                  	<tr>
                    <td align="left" valign="top">
					<h2>News and Events</h2>
					</td>
                  	</tr>
                  	<tr>
                    <td align="left" valign="top">
					<h5>Proin sit amet risus id ipsum</h5>
					</td>
                  	</tr>
                  	<tr>
                    	<td align="left" valign="top">
						<table width="198" border="0" cellspacing="0" cellpadding="0">
                      	<tr>
                        <td width="98" align="left" valign="top">
						<img src="images/pic_01.jpg" width="88" height="78" alt="pic_01" title="pic_01" border="0" />
						</td>
                        <td align="left" valign="top">
						<p>Semper et, dapibus id, lectus. In scelerisque...</p>
						<p class="readmore"><a href="#" title="read more">read&nbsp;more</a></p>
						</td>
                      	</tr>
                    	</table>
						</td>
                  	</tr>
                  	<tr>
                    <td align="left" valign="top">
					<h5>Proin sit amet risus id ipsum</h5>
					</td>
                  	</tr>
                  	<tr>
                   <td align="left" valign="top">
						<table width="198" border="0" cellspacing="0" cellpadding="0">
                      	<tr>
                        <td width="98" align="left" valign="top">
						<img src="images/pic_02.jpg" width="88" height="78" alt="pic_02" title="pic_02" border="0" />
						</td>
                        <td align="left" valign="top">
						<p>Semper et, dapibus id, lectus. In scelerisque...</p>
						<p class="readmore"><a href="#" title="read more">read&nbsp;more</a></p>
						</td>
                      	</tr>
                    	</table>
						</td>
                  	</tr>
                  	<tr>
                    <td align="left" valign="top">
					<h5>Proin sit amet risus id ipsum</h5>
					</td>
                  	</tr>
                  	<tr>
                    <td align="left" valign="top">
						<table width="198" border="0" cellspacing="0" cellpadding="0">
                      	<tr>
                        <td width="98" align="left" valign="top">
						<img src="images/pic_03.jpg" width="88" height="78" alt="pic_03" title="pic_03" border="0" />
						</td>
                        <td align="left" valign="top">
						<p>Semper et, dapibus id, lectus. In scelerisque...</p>
						<p class="readmore"><a href="#" title="read more">read&nbsp;more</a></p>
						</td>
                      	</tr>
                    	</table>
						</td>
                  	</tr>
                	</table>
				</td>
              	</tr>
            	</table>
				</td>
  			</tr>
			</table>
		</td>
      	</tr>
    	</table>
		</td>
  </tr>
  <tr>
    <td align="center" valign="top" class="footer">
	<p class="link">Home<span>&nbsp;</span>
	<a href="#" title="about">About</a><span>&nbsp;</span>
	<a href="#" title="gallery">Gallery</a><span>&nbsp;</span>
	<a href="#" title="support">Support</a><span>&nbsp;</span>
	<a href="#" title="contact">Contact</a>
	</p>
	<p>&copy;&nbsp;Copyright Information Goes Here. All Rights Reserved.<br />
	Design by:&nbsp;<a href="http://templatekingdom.com/" target="_blank" title="templatekingdom.com">Template Kingdom.com</a></p>
	</td>
  </tr>
</table>

<!-- <div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Getting Started on Heroku with Node.js</h1>
    <p>This is a sample Node application deployed to Heroku. It's a reasonably simple app - but a good foundation for understanding how to get the most out of the Heroku platform.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Getting Started on Heroku with Node.js</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs" class="alert-link">Getting Started on Heroku with Node.js</a> tutorial.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>This app was deployed to Heroku, either using Git or by using <a href="https://github.com/heroku/node-js-getting-started">Heroku Button</a> on the repository.</li>

        <li>When Heroku received the source code, it fetched all the dependencies in the <a href="https://github.com/heroku/node-js-getting-started/blob/main/package.json">package.json</a>, creating a deployable slug.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
        <li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>, from the Dashboard or CLI.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>If you are following the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started</a> guide, then please head back to the tutorial and follow the next steps!</li>
        <li>If you deployed this app by deploying the Heroku Button, then in a command line shell, run:</li>
        <ul>
          <li><code>git clone https://github.com/heroku/node-js-getting-started.git</code> - this will create a local copy of the source code for the app</li>
          <li><code>cd node-js-getting-started</code> - change directory into the local source code repository</li>
          <li><code>heroku git:remote -a &lt;your-app-name></code> - associate the Heroku app with the repository</li>
          <li>You'll now be set up to run the app locally, or <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs#push-local-changes">deploy changes</a> to Heroku</li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started on Heroku with Node.js</a></li>
        <li><a href="https://devcenter.heroku.com/articles/deploying-nodejs">Deploying Node Apps on Heroku</a></li>
      </ul>
    </div>
  </div> row
   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
</div> -->


</body>
</html>
