<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
	<table width="944" border="0" align="center" cellpadding="0" cellspacing="0">
		  <tr>
		<td align="left" valign="top" class="main_bg">
			<table width="884" border="0" align="center" cellpadding="0" cellspacing="0">
			<td align="left" valign="top" class="body_bg">
				<table width="784" border="0" cellspacing="0" cellpadding="0">
	<!--  			<tr>
				<td align="center" valign="top" class="logo_bg">
				<a href="index.html"><img src="images/logo.gif" width="232" height="62" alt="logo" title="logo" border="0" /></a>
				</td><link href="/YOUR_PATH/favicon.ico" rel="icon" type="image/x-icon" />Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus<input type="button" value="Back" onclick="history.back()" />
				  </tr>
				  <tr>-->
				<td align="left" valign="top" class="nav_bg">
				<ul>
					<li class="active">About me</li>                                                
					<li><a href="#" title="about">Education</a></li>
					<li><a href="#" title="gallery">Research</a></li>
					<li><a href="#" title="support">Support</a></li>
					<li><a href="#" title="contact">Contact</a></li>
				</ul>
					</td>
				  <tr>
				<td align="left" valign="top" class="header_bg">
					<table width="734" border="0" align="center" cellpadding="0" cellspacing="0">
					  <tr>
					<td width="182" align="left" valign="top">
					<img src="/aboutme/yizhou_img.jpg" width="155" height="168" alt="hdr_img" title="hdr_img" border="0" />
					</td>
					<td align="left" valign="top">
						
					<h2>Yizhou Zhao
					<span>I am a Ph.D. student in <a href="http://statistics.ucla.edu/">Department of Statistics, University of California, Los Angeles (UCLA)</a> , working with <a href="http://www.stat.ucla.edu/~sczhu/">Prof. Song-Chun Zhu</a>. My research interests include but not limit to: multi-agent systems, natural language processing, and art.</span>
					</h2>
					<h2>
						<img src="/aboutme/icons8-github-50.png" width="30px" height="30px" alt="hdr_img" title="hdr_img" border="10px" /><span><a href="http://www.stat.ucla.edu/~sczhu/" style="color:#9E292B">Github</a></span>
						<img src="/aboutme/icons8-graduation-cap-50.png" width="30px" height="30px" alt="hdr_img" title="hdr_img" border="10px" /><span><a href="http://www.stat.ucla.edu/~sczhu/" style="color:#9E292B">Google scholar</a></span>
						<img src="/aboutme/icons8-email-50.png" width="30px" height="30px" alt="hdr_img" title="hdr_img" border="10px" /><span><a href="">yizhouzhao@g.ucla.edu</a></span>
					</h2>
					
					</td>
					  </tr>
					</table>
					</td>
				  </tr>
				  <tr>
					<td align="left" valign="top" class="body_bttm">
					<table width="784" border="0" cellspacing="0" cellpadding="0">
					  <tr>
					<td width="532" align="left" valign="top" class="body_left">
						<table width="532" border="0" cellspacing="0" cellpadding="0">
						  <tr>
						<td align="left" valign="bottom">
						<h2>Preprints</h2>
						</td>
						  </tr>
						  <tr>
						<td align="left" valign="top">
						<!--> Here -->
							<h3> L. Qiu, Y. Liang, Y. Zhao, P. Lu, Z. Yu, Y.N. Wu, A. Kadambi, S.-Z. Zhu "Incremental Graph Parsing for Social Relation Recognition in Dialogues". (under review)
							</h3>
							<h3> L. Qiu,  Y. Zhao, Y. Liang, P. Lu, W. Shi, Z. Yu, , S.-C. Zhu. "Towards Socially Intelligent Agents with Mental State Transition and Human Utility". (under review)</h3>
						</td>
						  </tr>
						<tr>
						<td align="left" valign="bottom">
						<h2>Conference/Workshop/Chapter</h2>
						</td>
						  </tr>
						<tr>
						<td align="left" valign="top">
						<!--> Here -->
							<h3> Y. Liang, L. Qiu, T. Lu, Z. Fang, D. Tu, J. Yang, T. Zhao, Y. Shao, K. Wang, X. Chen, L. He. "OralViewer: 3D Demonstration of Dental Surgeries for Patient Education with Oral Cavity Reconstruction from a 2D Panoramic X-ray". IUI, 2021. <a href="">[pdf]</a>
							</h3>
							<h3> X. Gao, R. Gong, Y. Zhao, S. Wang, T. Shu, S.-C. Zhu. "Joint Mind Modeling for Explanation Generation in Complex Human-Robot Collaborative Tasks"  <a href="">[pdf]</a> </h3>
						</td>
						  </tr>
						  <tr>
						<td align="left" valign="top">
						<h2>Design Gallery</h2>
						</td>
						  </tr>
						  <tr>
						<td align="left" valign="top">
						<table width="532" border="0" cellspacing="0" cellpadding="0">
						<tr>
						<td align="center" valign="top" >
						<a href="#" class="img"><img src="images/gal_05.jpg" width="98" height="105" alt="gal_05" title="gal_05" border="0" /></a>
						<p>Fusce nisi augue</p>
						</td>
						<td width="20" align="left" valign="top">&nbsp;</td>
						<td align="center" valign="top" >
						<a href="#" class="img"><img src="images/gal_06.jpg" width="98" height="105" alt="gal_06" title="gal_06" border="0" /></a>
						<p>Egestas</p>
						</td>
						<td width="20" align="left" valign="top">&nbsp;</td>
						<td align="center" valign="top" >
						<a href="#" class="img"><img src="images/gal_07.jpg" width="98" height="105" alt="gal_07" title="gal_07" border="0" /></a>
						<p>Placerat eu</p>
						</td>
						<td width="20" align="left" valign="top">&nbsp;</td>
						<td align="center" valign="top" >
						<a href="#" class="img"><img src="images/gal_08.jpg" width="98" height="105" alt="gal_08" title="gal_08" border="0" /></a>
						<p>Sollicitudin eu</p>
						</td>
						</tr>
						</table>
						</td>
						  </tr>
						</table>
					</td>
					<td align="left" valign="top" class="body_right">
						<table width="198" border="0" align="center" cellpadding="0" cellspacing="0">
						  <tr>
						<td align="left" valign="top">
						<h2>News and Events</h2>
						</td>
						  </tr>
						  <tr>
						<td align="left" valign="top">
						<h5>Proin sit amet risus id ipsum</h5>
						</td>
						  </tr>
						  <tr>
							<td align="left" valign="top">
							<table width="198" border="0" cellspacing="0" cellpadding="0">
							  <tr>
							<td width="98" align="left" valign="top">
							<img src="images/pic_01.jpg" width="88" height="78" alt="pic_01" title="pic_01" border="0" />
							</td>
							<td align="left" valign="top">
							<p>Semper et, dapibus id, lectus. In scelerisque...</p>
							<p class="readmore"><a href="#" title="read more">read&nbsp;more</a></p>
							</td>
							  </tr>
							</table>
							</td>
						  </tr>
						  <tr>
						<td align="left" valign="top">
						<h5>Proin sit amet risus id ipsum</h5>
						</td>
						  </tr>
						  <tr>
					   <td align="left" valign="top">
							<table width="198" border="0" cellspacing="0" cellpadding="0">
							  <tr>
							<td width="98" align="left" valign="top">
							<img src="images/pic_02.jpg" width="88" height="78" alt="pic_02" title="pic_02" border="0" />
							</td>
							<td align="left" valign="top">
							<p>Semper et, dapibus id, lectus. In scelerisque...</p>
							<p class="readmore"><a href="#" title="read more">read&nbsp;more</a></p>
							</td>
							  </tr>
							</table>
							</td>
						  </tr>
						  <tr>
						<td align="left" valign="top">
						<h5>Proin sit amet risus id ipsum</h5>
						</td>
						  </tr>
						  <tr>
						<td align="left" valign="top">
							<table width="198" border="0" cellspacing="0" cellpadding="0">
							  <tr>
							<td width="98" align="left" valign="top">
							<img src="images/pic_03.jpg" width="88" height="78" alt="pic_03" title="pic_03" border="0" />
							</td>
							<td align="left" valign="top">
							<p>Semper et, dapibus id, lectus. In scelerisque...</p>
							<p class="readmore"><a href="#" title="read more">read&nbsp;more</a></p>
							</td>
							  </tr>
							</table>
							</td>
						  </tr>
						</table>
					</td>
					  </tr>
					</table>
					</td>
				  </tr>
				</table>
			</td>
			  </tr>
			</table>
			</td>
	  </tr>
	  <tr>
		<td align="center" valign="top" class="footer">
		<p class="link">Home<span>&nbsp;</span>
		<a href="#" title="about">About</a><span>&nbsp;</span>
		<a href="#" title="gallery">Gallery</a><span>&nbsp;</span>
		<a href="#" title="support">Support</a><span>&nbsp;</span>
		<a href="#" title="contact">Contact</a>
		</p>
		<p>&copy;&nbsp;Copyright Information Goes Here. All Rights Reserved.<br />
		Design by:&nbsp;<a href="pages/dictionary" target="_blank" title="templatekingdom.com">Template Kingdom.com</a></p>
		</td>
	  </tr>
	</table>
	</body>
</html>
